/* Set document default styles for text */
* {
  margin:0;
  padding:0;
  text-align: center;
}

html {
  text-align: center;
}

body {
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(188, 188, 207);
  padding: 0px;
  background: linear-gradient(to right,rgb(14, 13, 66), rgb(15, 75, 95));
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2
}

/* End document default styles */
.code {
  background-color: rgb(255, 231, 202);
  font-family: sans-serif;
  color: red;
}

.header {
  margin: 0px;
  padding: 30px;
  min-height: 75px;
  background: linear-gradient(to left,rgb(79, 76, 224), rgb(15, 75, 95));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  flex-wrap: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: rgb(235, 240, 243)
}

.instructions {
  padding: 0 25px;
}

.button:active {
  position: relative;
  top: 1px;
}

.content{
  margin-bottom: 10px;
}

.row {
  display: flex;
  margin-left: 30px;
}

.column .left{
  padding: 20px;
  flex: 50%;
  background: linear-gradient(to right,rgb(79, 76, 224), rgb(135, 181, 196));
}

.column.right{
  margin-left: 20px;
  flex: 50%;
  text-align: center;
  background: linear-gradient(to right,rgb(79, 76, 224), rgb(15, 75, 95));
  padding: 20px;
}

#mapholder {
  flex: 1;
}

img {
  max-height: 450px;
}

#more {
  display: none;
}

#moreButton {
  margin-left: 50%;
}

.show {
  display: block;
  align-content: center;
}

#myRange{
  display: inline;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#about {
  text-align: center;
  background-color: rgb(10, 9, 9);
}

a:visited {
  color: rgb(188, 188, 207);
}

.button {
  margin-bottom: 10px;
}

.wrapper {
  width : 100%;
}

.container {
  text-align: center;
}

a {
  margin: 20px;
  padding: 5px;
  text-decoration: none;
  color: rgb(188, 188, 207);
  border: rgb(188, 188, 207);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
}
a:hover {
  color: rgb(88, 88, 107);
  text-decoration: none;

}

button {
  padding: 10px;
  color: rgb(188, 188, 207);
  border: rgb(188, 188, 207);
  background-color :  rgb(88, 88, 107);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
  color: rgb(88, 88, 107);
  background-color: rgb(188, 188, 207);
  border: none;
}

table, th, td {
  border: 2px solid rgb(79, 76, 224);
  border-collapse: collapse;
  background: rgb(14, 13, 66);
  width: 100%;
  padding: 20px;
}

#mapholder {
  height: 450px;
}