/* Set document default styles for text */
* {
  margin:0;
  padding:0;
  text-align: center;
}

html {
  text-align: center;
}

body {
  text-align: center;
  line-height: 1.6;
  font-size: 18px;
  color: rgb(188, 188, 207);
  padding: 0px;
  background: linear-gradient(to right,rgb(14, 13, 66), rgb(15, 75, 95));
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2
}

/* End document default styles */
.code {
  background-color: rgb(255, 231, 202);
  font-family: sans-serif;
  color: red;
}

/* .container {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: Helvetica, Geneva, Tahoma, sans-serif;
} */

/* .wrapper {
  min-height: 100%;
  display: flex;
  width: 80%;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  background: #fefefe;
  border: 1px dashed #ccc;
  margin: 25px;

} */
/* 
.wrapper div {
  border-radius: 14px;
} */

.header {
  margin: 0px;
  padding: 30px;
  min-height: 75px;
  background: linear-gradient(to left,rgb(79, 76, 224), rgb(15, 75, 95));
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5em;
  text-transform: capitalize;
  flex-wrap: nowrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  color: rgb(235, 240, 243)
}

.instructions {
  padding: 0 25px;
}

/* .content {
  background: #fff;
  border: 2px dotted #444;
  flex-grow: 2;
  flex: 0 0 200px;
  padding: 10px;
  overflow-wrap: break-word;
  margin: 25px 50px;
  max-width: 450px;
} */

/* .button {
  background-color: #ffc477;
  -moz-border-radius: 11px;
  -webkit-border-radius: 11px;
  border-radius: 11px;
  border: 2px solid #eeb44f;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Verdana;
  font-size: 14px;
  padding: 10px 17px;
  text-decoration: none;
  text-shadow: 0px 1px 1px #cc9f52;
} */

.button:active {
  position: relative;
  top: 1px;
}

.content{
  margin-bottom: 10px;
  /* margin-left: 10%; */
}

/* @media screen and (max-width: 80px) {
  .column {
    width: 100%;
  }
} */

.row {
  display: flex;
  margin-left: 30px;
}

.column .left{
  padding: 20px;
  flex: 50%;
  background: linear-gradient(to right,rgb(79, 76, 224), rgb(135, 181, 196));
}

.column.right{
  margin-left: 20px;
  flex: 50%;
  text-align: center;
  background: linear-gradient(to right,rgb(79, 76, 224), rgb(15, 75, 95));
  padding: 20px;
}

#mapholder {
  flex: 1;
}


/* old style of creating columns for filter and map. Delete later */
/* .column {
  float: left;
  padding: 10px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

div.column.left {
  width: 35%;
  margin-right: 0px !important;
}

.right {
  float: right;
  width: 55%;
  justify-content: center;
} */

img {
  /* max-width: 500px; */
  max-height: 450px;
}

#more {
  display: none;
}

#moreButton {
  margin-left: 50%;
}

.show {
  display: block;
  align-content: center;
}

#myRange{
  display: inline;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#about {
  text-align: center;
  background-color: rgb(10, 9, 9);
}

a:visited {
  color: rgb(188, 188, 207);
}

.button {
  margin-bottom: 10px;
}

.wrapper {
  width : 100%;
}

.container {
  text-align: center;
}

a {
  margin: 20px;
  padding: 5px;
  text-decoration: none;
  color: rgb(188, 188, 207);
  border: rgb(188, 188, 207);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25px;
}
a:hover {
  color: rgb(88, 88, 107);
  text-decoration: none;

}

button {
  padding: 10px;
  color: rgb(188, 188, 207);
  border: rgb(188, 188, 207);
  background-color :  rgb(88, 88, 107);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button:hover {
  color: rgb(88, 88, 107);
  background-color: rgb(188, 188, 207);
  border: none;
}

table, th, td {
  border: 2px solid rgb(79, 76, 224);
  border-collapse: collapse;
  background: rgb(14, 13, 66);
  width: 100%;
  padding: 20px;
}